################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApi/FileContentIndex/27558be9-347d-4681-87f5-b7c31c4f4a50.vsidx
